.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 8vh;
    gap: 15px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ion-img {
    width: 160px;
    height: auto;
    margin-bottom: 10px;
}

.main-title {
    font-size: 1.4rem;
    color: black;
}

.subtitle {
    font-size: 1rem;
    color: black;
}

.form-container {
    width: 100%;
    max-width: 320px;
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 8px;
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-label {
    font-size: 14px;
    font-weight: bold;
    color: black; 
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

ion-item {
    --background: transparent;
    --inner-border-width: 0;
}

ion-button {
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
}

.register-text {
    font-size: 0.9rem;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.register-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

ion-input {
    background-color: lightgrey;
    text-align: center;
    color: black;
}
