<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-opciones" href="/tabs/menu-opciones">
      <ion-icon aria-hidden="true" name="today"></ion-icon>
      <ion-label>Citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="datos-usuario" href="/tabs/datos-usuario">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Datos de Usuario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acerca-de" href="/tabs/acerca-de">
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
      <ion-label>Acerca De</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
