<ion-header [translucent]="true">
  <ion-toolbar>

    <!-- Sección izquierda -->
    <ion-buttons slot="start">
      <img src="assets/logo_od.png" alt="Logo de la empresa">
      <ion-title class="titulo">Datos de Usuario</ion-title>
    </ion-buttons>

    <!-- Sección derecha -->
    <ion-buttons slot="end">
      <ion-label routerLink="/login">Cerrar sesión</ion-label>
      <ion-icon name="log-out-outline" size="large" routerLink="/login"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Imagen centrada en la pantalla -->
<ion-content [fullscreen]="true">
  <div class="centered-image">
    <img src="https://cdn-icons-png.flaticon.com/512/3736/3736502.png" alt="Imagen centrada">
  </div>
  <ion-content class="ion-padding">
    <div class="button-container">
      <ion-button expand="full">Cambiar Foto de perfil</ion-button>
      <ion-title class="titulo">Usuario</ion-title>
      <ion-input class="user-input" placeholder="admin"></ion-input>
      <div class="button-container">
      </div>
    </div>

  </ion-content>  </ion-content>
