.content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    position: relative;
}

.card {
    width: 100%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #4169A1;
    margin-bottom: 20px;
}

.change-photo-button {
    margin-top: 10px;
    background-color: #00b4d8;
    color: white;
}

.user-details {
    margin-top: 20px;
}

.user-input {
    margin-top: 10px;
    background-color: #ecf0f1;
    color: #2c3e50;
}

.save-button {
    margin-top: 20px;
    background-color: #27ae60;
    color: white;
}

.title {
    color: black;
}

#espacio {
    padding-top: 10px;
}
.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Reduce la altura */
  }
  
  
  .centered-image img {
    max-width: 250px; /* Ajusta el tamaño de la imagen */
    height: auto;
  }
  .titulo {
    color: rgb(0, 0, 0);
    margin-top: -300px; /* Espacio entre el botón y el título */
  font-size: 20px;
  font-weight: bold;
  }
  .user-input {
    width: 100%;
    max-width: 400px; /* Tamaño máximo del input */
    height: 30px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 40px; /* Separa el input de "Usuario" */
    display: block; /* Asegura que respete el margen automático */
    margin-left: auto;
    margin-right: auto;
  }