.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: black; /* Letra en negro */
  }
  
  .subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: black; /* Letra en negro */
  }
  
  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    border-radius: 8px; /* Redondea las esquinas de la imagen */
    margin-top: 30px;
  }

  .custom-image {
    width: 100%; /* Ajusta el ancho al contenedor */
    max-width: 300px; /* Máximo ancho permitido */
    height: auto; /* Mantiene la proporción */
    display: block; /* Evita espacios extra */
    margin: 0 auto; /* Centrar la imagen */
    border-radius: 10px; /* Esquinas redondeadas opcionales */
  }