<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/logo_od.png" alt="Logo de la empresa">
      <ion-title>Inicio</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="title">Odontología Integral</h1>
    <p class="subtitle">
      Bienvenido/a al inicio de nuestra aplicación, aquí podrás consultar el estado de tu consulta o poder agendar una nueva.
    </p>
    <img src="assets/consultorio_dental.jpg" alt="Consultorio odontológico" class="image">
  </div>

  <h2 class="section-title">Síguenos en Redes Sociales</h2>

<div class="social-links">
  <a href="https://www.facebook.com/profile.php?id=61563612633841" target="_blank" class="facebook">
    <ion-icon name="logo-facebook"></ion-icon>
    <span>Odontología Integral</span>
  </a>

  <a href="https://www.instagram.com/odonto_logia_integral/?utm_source=ig_web_button_share_sheet" target="_blank" class="instagram">
    <ion-icon name="logo-instagram"></ion-icon>
    <span>odonto_logia_integral</span>
  </a>
</div>


  <h2 class="section-title">Nuestros Servicios</h2>
  <div class="container">
    <p class="subtitle">
      Aquí podrás visualizar los servicios que ofrecemos con una ilustración y una breve descripción, además de sus respectivos precios.
    </p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Limpieza Bucal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Una limpieza dental profesional ayuda a eliminar la placa
        y el sarro acumulado en los dientes y debajo de las encías.</p>
        <br>
      <p><strong>Costo:</strong> $150</p>
      <img src="assets/limpieza_dental.jpg" alt="Limpieza Bucal" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Extracción de Muelas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La extracción de muelas, especialmente las del juicio, es un procedimiento común para
        evitar problemas futuros como infecciones, dolor, y daño a los dientes adyacentes.</p>
        <br>
      <p><strong>Costo:</strong> $300</p>
      <img src="assets/extraccion.jpg" alt="Extracción de Muelas" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ortodoncia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La ortodoncia se encarga de corregir problemas de alineación dental y
        de mordida mediante el uso de brackets, alineadores y otros dispositivos.</p>
      <br>
      <p><strong>Costo:</strong> $5,000</p>
      <img src="assets/ortodoncia.jpg" alt="Extracción de Muelas" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Implantes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Los implantes dentales son estructuras de titanio que se insertan en el
        hueso maxilar para reemplazar dientes perdidos.</p>
      <br>
      <p><strong>Costo:</strong> $3,000</p>
      <img src="assets/implante.jpg" alt="Implantes" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bruxismo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El bruxismo es el hábito involuntario de apretar o rechinar los dientes,
        especialmente durante el sueño.</p>
      <br>
      <p><strong>Costo:</strong> $1,000</p>
      <img src="assets/bruxismo.jpg" alt="Bruxismo" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Blanqueamiento Dental</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>El blanqueamiento dental es un tratamiento estético que permite aclarar el color de los dientes
        y eliminar manchas, devolviendo a la sonrisa un aspecto brillante y saludable.</p>
      <br>
      <p><strong>Costo:</strong> $800</p>
      <img src="assets/blanqueamiento.jpg" alt="Blanqueamiento" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Endodoncia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>La endodoncia, o tratamiento de conducto, se realiza para salvar dientes que han
        sido gravemente dañados por caries o lesiones.</p>
      <br>
      <p><strong>Costo:</strong> $1,000</p>
      <img src="assets/endodoncia.jpg" alt="Endodoncia" class="image">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carillas Dentales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Las carillas dentales son finas láminas de porcelana o composite que se adhieren a la
        superficie frontal de los dientes para corregir imperfecciones como manchas, astilladuras o espacios entre los dientes.</p>
      <br>
      <p><strong>Costo:</strong> $1,500</p>
      <img src="assets/carillas_dentales.jpg" alt="Carillas Dentales" class="image">
    </ion-card-content>
  </ion-card>
  
  <h2 class="section-title">Localización</h2>
  <img src="assets/ubicacion.png" alt="Consultorio odontológico" class="ubicacion">
</ion-content>
